.project-img{
    width: 650px;
    height: 150px;
}

.project-name {
    /* border: 3px solid rgb(14, 236, 62); */
    /* font-family: 'Merriweather Sans', sans-serif; */
    color:rgb(240, 186, 120);
}

.selected-works {
    text-align: center;
    color:beige
}

.sel-work {
    font-size: 80px;
    font-weight: 1000;
}

.pro-div {
    padding-left: 50px;
}

.icon {
    font-size: 35px;
    color: beige;
}

.icons {
    justify-content: center;
}


.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(240, 186, 120);
    overflow: hidden;
    width: 100%;
    height: 240px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 5px 25px 5px;
  }

  .pro-div:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }



@media only screen and (max-width: 600px) {
    .pro-div {
        padding-left: 10px;
    }
    .project-img{
        width: 450px;
        padding-left: 0px;
        margin-left: auto;
        height: 150px;
    }
    .sel-work {
        font-size: 44px;
        font-weight: 1000;
    }
    .overlay{
        font-size: 13px;
    }
    .content {
        font-size: 20px;
    }
}


@media only screen and (max-width: 320px) {
    .project-img{
        width: 295px;
        padding-left: 0px;
        margin-left: auto;
        height: 150px;
    }
    .sel-work {
        font-size: 25px;
        font-weight: 1000;
    }
    .project-name {
        font-size: 17px;
    }
    .project-des {
        font-size: 15px;
    }
    .icon {
        font-size: 25px;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (min-width: 412px) {
    .project-name {
        font-size: 20px;
    }
    .sel-work {
        font-size: 30px;
        font-weight: 1000;
    }
    .project-des {
        font-size: 16px;
    }
    .project-img{
        width: 400px;
        padding-left: 0px;
        margin-left: auto;
        height: 150px;
    }
}

@media only screen and (min-width: 360px) {
    .project-name {
        font-size: 25px;
    }
    .sel-work {
        font-size: 30px;
        font-weight: 1000;
    }
    .project-des {
        font-size: 20px;
    }
    .project-img{
        width: 335px;
        padding-left: 0px;
        margin-left: auto;
        height: 150px;
    }
}

@media only screen and (min-width: 400px) {
    .project-img{
        width: 375px;
        padding-left: 0px;
        margin-left: auto;
        height: 150px;
    }
}

@media only screen and (min-width: 576px) {
    .project-img{
        width: 515px;
        height: 150px;
    }
    .project-name {
        font-size: 35px;
    }
    .sel-work {
        font-size: 40px;
        font-weight: 1000;
    }
    .project-des {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1200px){
    .sel-work {
        font-size: 60px;
        font-weight: 1000;
    }
}
